@model Hairdresser

@{
    ViewData["Title"] = "C&G: Panel de control";
}

<div id="background"></div>
<div class="mauto">
    <h1 class="title_form no_select data">@Model.Name <i class="fa fa-pen-to-square icon_h1"></i></h1>
    <h1 class="title_form no_select data hide">Editar Peluquería</h1>
    <div class="container_box">
        <div class="data">
            <p>@Model.Address</p>
            <p>@Model.Phone</p>
        </div>
@*        @if ( != null) {
            <div class="cb_section_2" >
                @foreach (Hairdresser h in peluquerias) {
                    <a asp-controller="Hairdresser" asp-action="ControlPanel" asp-route-hid="@h.HairdresserId" class="card no_select">
                        <h3>@h.Name</h3>
                        <p>@h.Address</p>
                        <p>@h.Phone</p>
                    </a>
                }
            </div>
        }*@
        <form method="post" action="UpdateHairdresser" class="data hide" style="margin-top: 10px;">
            @Html.AntiForgeryToken()
            <input type="text" name="Name" id="h_name" class="form-control" maxlength="60" placeholder="Nombre" value="@Model.Name" />
            <div class="form_div_flex">
                <input type="text" id="h_address" name="Address" class="form-control" maxlength="100" placeholder="Dirección" value="@Model.Address" />
                <input type="text" id="h_postalCode" name="PostalCode" class="form-control" maxlength="5" placeholder="Código Postal" value="@Model.PostalCode" />
            </div>
            <input type="text" id="h_phone" name="Phone" class="form-control" maxlength="20" placeholder="Teléfono" value="@Model.Phone" />
            <button class="form-button-submit">
                Guardar cambios
            </button>
        </form>
    </div>
</div>

@section hairdresser_script{
    <script>
        $(function() {
            $('.icon_h1').click(function() {
                $('.data').toggleClass('hide');
            });
        });
    </script>
}