@model User

@{
    ViewData["Title"] = "C&G: Panel de Control";
    List<Hairdresser> peluquerias = ViewData["HAIRDRESSERS"] as List<Hairdresser>;
}

<div id="background"></div>
<div class="mauto">
    <h1 class="title_form no_select">@Model.Name @Model.LastName</h1>
    <div class="container_box">
        <div class="cb_section_1">
            <div></div>
            <p>@Model.Email
                @if (Model.EmailConfirmed) {
                    <abbr title="Email verificado" style="cursor: pointer;">
                        <i class="fa fa-check" style="color: green;"></i>
                    </abbr>
                } else {
                    <abbr title="Email no verificado" style="cursor: pointer;">
                        <i class="fa fa-xmark" style="color: orange;"></i>
                    </abbr>
                }
            </p>
            <p>@Model.Phone</p>
            <a asp-controller="User" asp-action="UpdateUser">
                Editar
            </a>
            <div></div>
        </div>
        @if (peluquerias != null) {
            <div class="cb_section_2" >
                @foreach (Hairdresser h in peluquerias) {
                    <a asp-controller="Hairdresser" asp-action="ControlPanel" asp-route-hid="@h.HairdresserId" class="card card_view no_select">
                        <h3>@h.Name</h3>
                        <p>@h.Address</p>
                        <p>@h.Phone</p>
                    </a>
                }
                <a asp-controller="Hairdresser" asp-action="CreateHairdresser" asp-route-userid="@Model.UserId" class="card card_create no_select">
                    Añadir nueva peluquería
                </a>
            </div>
        } else {
            <div class="cb_section_2" >
                <a asp-controller="Hairdresser" asp-action="CreateHairdresser" asp-route-userid="@Model.UserId" class="card card_create no_select">
                    Añadir nueva peluquería
                </a>
            </div>
        }
    </div>
</div>